/* stylelint-disable declaration-no-important */
.App {
  width: 800px;
  text-align: center;
}

.App-logo {
  z-index: 99;
  width: 40vmin;
  height: 40vmin;
  pointer-events: none;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
